@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    border: 0%;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #1A1826;
}


/* navbar */

.navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom right, #13121b, #1A1826 );
    width: 80vw;
    margin: .625rem auto;
    border-radius: 10rem;
    position: sticky;
    top: .625rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.box-btn__btn{
    width: 7.5rem;
    height: 3.125rem;
    color: #fffffe;
    font-weight: bold;
    font-size: 1.125rem;
    background-color: #3084F2;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .5s 0s ease;
}

.box-btn__btn:hover, .box-btn__btn:focus{
    transform: scale(1.1,1.1);
    color: #3084F2;
    background-color: #fffffe;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navbar__box-logo{
    width: 4rem;
    position: relative;
    left: 4%; 
}


.box-logo__image{
    width: 100%;
}

.nav__list li{
    display: inline;
    list-style-type: none;
    padding: 0 .625rem;
}

.nav__list a{
    color: #fffffe;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
}

/* navbar */


/** home * content **/

#content-home{
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.box-image{
    width: 25vw;
}

.box-image__image{
    width: 100%;
}

.box-text{
    width: 25vw;
    text-align: right;
}

.box-text__title--BigTitle{
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1;
    color: #0554F2;
}

.box-text__subtitle{
    font-size: 1.5;
    font-weight: 400;
    margin-top: 0.938rem;
    color: #323859;
}

/** home * content **/


/*! about ! content !*/

#content-about{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content-about .box-text{
    text-align: left;
    margin-right: 2.5rem;
}

.box-text__title{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    color: #0554F2;
}

.box-text__paragraph{
    color: #94a1b2;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.box-btn__btn--big{
    width: 10.5rem;
}

#content-skills{
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.box-skill{
    width: 35vw;
    margin-left: 1.25rem;
}

.box-skill__title{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2;
    color: #0554F2;
    text-align: center;
}

.box-skill__box-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.card{
    background-color: #323859;
    width: 10.625rem;
    height: 12.5rem;
    text-align: center;
    border-radius: .313rem;
    margin: .625rem;
}

.card .fa-brands{
    color: #0161F2;
    font-size: 4.5rem;
    margin: 3.125rem 0;
}

.card__subtitle{
    color: #fffffe;
    font-size: 1rem;
    font-weight: bold;
}

/*! about ! content !*/

/*? services ? content ?*/

#content-services{
    height: 100vh;
}



.title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 5.313rem 0;
    color: #0554F2;
}

#card-services{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.card--services{
    background-color: #323859;
    width: 15.625rem;
    height: 18.75rem;
    border-radius: 0.938rem;
    margin: 0.938rem;
    text-align: left;
    padding: 3.125rem 0.938rem;
}

.card--services .fa-solid{
    color: #fffffe;
    font-size: 2rem;
    line-height: 2;
}

.card__title{
    color: #0554F2;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}

.card__paragraph{
    color: #94a1b2;
    font-size: 1rem;
    font-weight: 400;

}

/*? services ? content ?*/

/** proyect * content **/


#content-proyect{
    height: 100vh;
}

.proyects{
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
}

.proyects__box{
    width: 35vw;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 3rem;
    margin-right: 3.5rem;
}

.box{
    width: 50rem;
}

.box__image{
    width: 100%;
    border-radius: .5rem;
}

.box-text--proyect{
    text-align: left;
    margin-left: .8rem;
}

.box-btn__btn--small{
    width: 5rem;
    height: 2rem;
    margin-right: .5rem;
}

#content-proyect .box-text__btn{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

/** proyect * content **/

/*TODO contact * content TODO*/

#content-contact{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#form{
    display: grid;
    grid-template-areas: 
    "name email"
    "proyect proyect"
    "message message"
    ".  send"
    ;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: 3rem 3rem auto;
    grid-column-gap: .5rem;
    grid-row-gap: 1rem;
}

#nom{
    grid-area: name;
    background-color: #323859;
    border: none;
    border-radius: .3rem;
    padding-left: 1rem;
    color: #94a1b2;
    outline: none;
}

#nom::placeholder{
    color: #0554F2;
}

#ema{
    grid-area: email;
    background-color: #323859;
    border: none;
    border-radius: .3rem;
    padding-left: 1rem;
    color: #94a1b2;
    outline: none;
}

#ema::placeholder{
    color: #0554F2;
}

#pro{
    grid-area: proyect;
    background-color: #323859;
    border: none;
    border-radius: .3rem;
    padding-left: 1rem;
    color: #94a1b2;
    outline: none;
}

#pro::placeholder{
    color: #0554F2;
}

#msj{
    grid-area: message;
    background-color: #323859;
    border: none;
    border-radius: .3rem;
    padding: 1rem;
    color: #94a1b2;
    outline: none;
}

#msj::placeholder{
    color: #0554F2;
}

#submit{
    grid-area: send;
    width: 7.5rem;
    height: 3rem;
    color: #fffffe;
    font-weight: bold;
    font-size: 1rem;
    background-color: #3084F2;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    
}




/*TODO contact * content TODO*/

/* footer*/



.footer__container{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2.813rem 0;
}

.container__box-description{
    text-align: center;
}

.box-description__title{
    color: #3084F2;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
}

.box-description__subtitle{
    color: #fffffe;
    font-size: 1rem;
    font-weight: 400;
}

.container__social-icons .fa-brands{
    color: #fffffe;
    font-size: 2rem;
    margin-right: 1.563rem;
    cursor: pointer;
    text-decoration: none;
}

.copy{
    text-align: center;
    color: #fffffe;
    font-size: .813rem;
    font-style: italic;
}

/* footer*/
