@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "variables";
*{
    border: 0%;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

.background{
    background-color: $main-color;
}


/* navbar */

.navbar{    
    background-image: linear-gradient(to bottom right, $secundary-color, $main-color );
    width: 80vw;
    margin: 0 auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.box-btn__btn{
    width: 7.5rem;
    height: 3.125rem;
    color: $white;
    font-weight: bold;
    font-size: 1.125rem;
    background-color: $tertiary;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .5s 0s ease;
    &:hover, &:focus{
        transform: scale(1.1,1.1);
        color: $tertiary;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}


.navbar__box-logo{
    width: 4rem;
    position: relative;
    left: 4%; 
}


.box-logo__image{
    width: 100%;
}

.nav__list{
    li{
        display: inline;
        list-style-type: none;
    }
}

.nav-item{
    a{
        color: $white;
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        padding: .3rem;
        font-size: 1.125rem;
        transition: all .5s 0s ease;
        &:hover,&:focus{
            color: $tertiary;
        }
    }
}

/* navbar */


/** home * content **/

#content-home{
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.box-image{
    width: 25vw;
}

.box-image__image{
    width: 100%;
}

.box-text{
    width: 25vw;
    text-align: right;
}

.box-text__title--BigTitle{
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1;
    color: $blue;
}

.box-text__subtitle{
    font-size: 1.5;
    font-weight: 400;
    margin-top: 0.938rem;
    color: $blue-light;
}

/** home * content **/


/*! about ! content !*/

#content-about{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content-about{
    .box-text{
        text-align: left;
        margin-right: 2.5rem;
    }
}

.box-text__title{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    color: $blue;
}

.box-text__paragraph{
    color: $gray;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.box-btn__btn--big{
    width: 10.5rem;
}

#content-skills{
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.box-skill{
    width: 35vw;
    margin-left: 1.25rem;
}

.box-skill__title{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2;
    color: $blue;
    text-align: center;
}

.box-skill__box-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.card-{
    background-color: $blue-light;
    width: 10.625rem;
    height: 12.5rem;
    text-align: center;
    border-radius: .313rem;
    margin: .625rem;
    transition: all .4s 0s ease;
    &:hover,&:focus{
        transform: scale(1.1,1.1);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(18, 18, 19, 0.40) 0px -2px 6px 0px inset;
    }
}

.card-{
    .fa-brands{
        color: $blue;
        font-size: 4.5rem;
        margin: 3.125rem 0;
    } 
}

.card__subtitle{
    color: $white;
    font-size: 1rem;
    font-weight: bold;
}

/*! about ! content !*/

/*? services ? content ?*/

#content-services{
    height: 100vh;
}



.title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 5.313rem 0;
    color: $blue;
}

#card-services{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.card--services{
    background-color: $blue-light;
    width: 15.625rem;
    height: 25rem;
    border-radius: 0.938rem;
    margin: 0.938rem;
    text-align: left;
    padding: 3.125rem 0.938rem;
    transition: all .4s 0s ease;
    &:hover,&:focus{
        cursor: pointer;
        transform: scale(1.1,1.1);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(18, 18, 19, 0.40) 0px -2px 6px 0px inset;
    }
}

.card--services{
    .fa-solid{
        color: $white;
        font-size: 2rem;
        line-height: 2;
    }
}

.card__title{
    color: $blue;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}

.card__paragraph{
    color: $gray;
    font-size: 1rem;
    font-weight: 400;

}

/*? services ? content ?*/

/** proyect * content **/


#content-proyect{
    height: 100vh;
}

.proyects{
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
}

.proyects__box{
    width: 35vw;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 3rem;
    margin-right: 3.5rem;
}

.box{
    width: 50rem;
}

.box__image{
    width: 100%;
    border-radius: .5rem;
}

.box-text--proyect{
    text-align: left;
    margin-left: .8rem;
}

.box-btn__btn--small{
    width: 5rem;
    height: 2rem;
    margin-right: .5rem;
}

#content-proyect .box-text__btn{
    .box-text__btn{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    
}

/** proyect * content **/

/*TODO contact * content TODO*/

#content-contact{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#form{
    display: grid;
    grid-template-areas: 
    "name email"
    "proyect proyect"
    "message message"
    ".  send"
    ;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: 3rem 3rem auto;
    grid-column-gap: .5rem;
    grid-row-gap: 1rem;
}

#nom{
    grid-area: name;
    background-color: $blue-light;
    border: none;
    border-radius: .3rem;
    padding-left: 1rem;
    color: $gray;
    outline: none;
}

#nom::placeholder{
    color: #0554F2;
}

#ema{
    grid-area: email;
    background-color: $blue-light;
    border: none;
    border-radius: .3rem;
    padding-left: 1rem;
    color: $gray;
    outline: none;
}

#ema::placeholder{
    color: $blue;
}

#pro{
    grid-area: proyect;
    background-color: $blue-light;
    border: none;
    border-radius: .3rem;
    padding-left: 1rem;
    color: $gray;
    outline: none;
}

#pro::placeholder{
    color: $blue;
}

#msj{
    grid-area: message;
    background-color: $blue-light;
    border: none;
    border-radius: .3rem;
    padding: 1rem;
    color: $gray;
    outline: none;
    &::placeholder{
        color: $blue;
    }
}


#submit{
    grid-area: send;
    width: 7.5rem;
    height: 3rem;
    color: $white;
    font-weight: bold;
    font-size: 1rem;
    background-color: $blue;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all .5s 0s ease;
    &:focus,&:hover{
        color: $white;
        background-color: $green;
        transform: scale(1.1,1.1);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}

/*TODO contact * content TODO*/

/* footer*/



.footer__container{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2.813rem 0;
}

.container__box-description{
    text-align: center;
}

.box-description__title{
    color: $blue;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
}

.box-description__subtitle{
    color: $white;
    font-size: 1rem;
    font-weight: 400;
}

.container__social-icons{
    .fa-brands{
        color: $white;
        font-size: 2rem;
        margin-right: 1.563rem;
        cursor: pointer;
        text-decoration: none;
        transition: all .5s 0s ease;
        &:hover,&:focus{
            color: $blue;
            transform: scale(1.4,1.4);
        }
    }
    
}

.copy{
    text-align: center;
    color: $white;
    font-size: .813rem;
    font-style: italic;
}

/* footer*/


@media screen and (min-width:320px) and (max-width:480px) {
    /*home*/

    #content-home{
        display: flex;
        flex-flow: column nowrap;
    }

    .box-image{
        width: 80vw;
    }

    .box-text{
        width: 70vw;
        text-align: center;
    }

    .box-text__title--BigTitle{
        font-size: 4rem;
        font-weight: bold;
    }
    /*home*/

    /*about*/

    #content-about{
        display: flex;
        flex-flow: column nowrap;
        height: 100vh;
    }

    #content-about{
        .box-text{
            text-align: center;
            margin-bottom: 2.5rem;
            margin-right: 0;
        }   
    }

    #content-skills{
        display: flex;
        flex-flow: column nowrap;
        height: 100vh;
    }

    .box-skill{
        display: flex;
        flex-flow: column wrap;
        width: 80vw;
    }

    .box-skill__box-cards{
        width: 80vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .card-{
        width:6.5rem;
        height: 7.5rem;
    }

    .card- .fa-brands{
        font-size: 3rem;
        margin: 1.125rem 0;

    }

    /*about*/

    /*footer*/

    .footer__container{
        display: flex;
        flex-flow: column nowrap;
    }

    .container__social-icons{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: .75rem;
    }

    .container__social-icons{
        .fa-brands{
            margin:0 .5rem;
        }
    }

    /*footer*/
}
