@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "variables";
@import "layouts/header";
@import "views/home";
@import "views/about";
@import "views/services";
@import "views/proyects";
@import "views/contact";
@import "layouts/footer";

/*General Config*/

*{
    border: 0%;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

/*General Config*/




    

