/*Fonts*/
$font: 'Roboto', sans-serif;
/*Fonts*/

/*colors*/

$main-color:#1A1826;
$secundary-color:#13121b;
$tertiary:#3084F2;
$white:#fffffe;
$blue:#0554F2;
$gray:#94a1b2;
$blue-light:#323859;
$green:#06d6a0;

/*colors*/