
.cardNormal{
    background-color: $blue-light !important;
    text-align: center;
    border-radius: .313rem;
    margin: .625rem;
    transition: all .4s 0s ease;
    &:hover,&:focus{
        transform: scale(1.1,1.1);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(18, 18, 19, 0.40) 0px -2px 6px 0px inset;
    }
}

.card{
    @extend .cardNormal;
    @include card(10.625rem,12.5rem);
    @include sm-mobile{
        @include card(6.6rem,8.5rem);
    }
    @include md-mobile{
        @include card(7.5rem,8.5rem);
    }
    .fa-brands{
        color: $blue;
        font-size: 4.5rem;
        margin: 3.125rem 0;
        @include sm-mobile{
            font-size: 3rem;
            margin: 2rem 0;
        }
        @include md-mobile{
            font-size: 3rem;
            margin: 2rem 0;
        }
    } 
    
    &__subtitle{
        color: $white;
        font-size: 1rem;
        font-weight: bold;
    }
}

.card--services{
    @extend .cardNormal;
    @include card(15.625rem,25rem);
    text-align: left;
    padding: 3.125rem 0.938rem;
    margin: 0.938rem;
    border-radius: 0.638rem;
    .fa-solid{
        color: $white;
        font-size: 2rem;
        line-height: 2;
    }
    .card__title{
        color: $blue;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.5;
    }
    .card__paragraph{
        color: $gray;
        font-size: 1rem;
        font-weight: 400;
    }
}