/*TODO contact * content TODO*/

#content-contact{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#form{
    display: grid;
    grid-template-areas: 
    "name email"
    "proyect proyect"
    "message message"
    ".  send"
    ;
    grid-template-columns: repeat(2,15rem);
    grid-template-rows: 3rem 3rem auto;
    grid-column-gap: .5rem;
    grid-row-gap: 1rem;
    @include sm-mobile{
        grid-column-gap: .25rem;
        grid-row-gap: .5rem;
        grid-template-columns: repeat(2,9rem);
    }
    @include md-mobile{
        grid-column-gap: .25rem;
        grid-row-gap: .5rem;
        grid-template-columns: repeat(2,10.5rem);
    }
    @include tablet{
        grid-template-columns: repeat(2,15rem);
    }
}



#submit{
    grid-area: send;
    width: 7.5rem;
    height: 3rem;
    color: $white;
    font-weight: bold;
    font-size: 1rem;
    background-color: $blue;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all .5s 0s ease;
    &:focus,&:hover{
        color: $white;
        background-color: $green;
        transform: scale(1.1,1.1);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}

/*TODO contact * content TODO*/