#content-home{
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    @include mobile{
        display: flex;
        flex-flow: column nowrap;
    }
}

.box-image{
    width: 25vw;
    @include mobile{
        width: 80vw;
    }
    &__image{
        width: 100%;
    }
}


.box-text{
    width: 25vw;
    text-align: right;
    @include mobile{
        width: 70vw;
        text-align: center;
    }
    &__title--BigTitle{
        font-size: 4.5rem;
        font-weight: bold;
        line-height: 1;
        color: $blue;
        @include mobile{
            font-size: 4rem;
            font-weight: bold;
        }
    }
    
    &__subtitle{
        font-size: 1.5;
        font-weight: 400;
        margin-top: 0.938rem;
        color: $blue-light;
    }
}