/*? services ? content ?*/

#content-services{
    height: 100vh;
    @include sm-mobile{
        height: auto;
    }
    @include md-mobile{
        height: auto;
    }
}



.title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 5.313rem 0;
    color: $blue;
}

#card-services{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    @include sm-mobile{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    @include md-mobile{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
}

.card--services{
    background-color: $blue-light;
    width: 15.625rem;
    height: 25rem;
    border-radius: 0.938rem;
    margin: 0.938rem;
    text-align: left;
    padding: 3.125rem 0.938rem;
    transition: all .4s 0s ease;
    &:hover,&:focus{
        cursor: pointer;
        transform: scale(1.1,1.1);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(18, 18, 19, 0.40) 0px -2px 6px 0px inset;
    }
}

.card--services{
    .fa-solid{
        color: $white;
        font-size: 2rem;
        line-height: 2;
    }
}

.card__title{
    color: $blue;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}

.card__paragraph{
    color: $gray;
    font-size: 1rem;
    font-weight: 400;

}

/*? services ? content ?*/